.bg-blue {
  background-color: #4a78a0;
}

.bg-grey {
  background-color: #edeef0;
}

.bg-drkgrey {
  color: #807f80;
}

.text-secondary {
  color: #a1a1a0;
}

.card-white {
  background: white;
  padding: 30px;
  box-shadow: 1px 1px 2px #e7e7e7;
  height: 85%;
  border-radius: 4px;
  margin: 20px 50px;
}